<mat-list role="list" >
    <mat-list-item role="listitem"><h1>Todo App</h1></mat-list-item>
    <mat-list-item role="listitem"><h2>by Asaad Mosa</h2></mat-list-item>
    <mat-list-item role="listitem"><h2>{{date}}</h2></mat-list-item>
    <mat-list-item role="listitem">
        <mat-toolbar >
            <section>
                <div class="example-button-row">
                    <button mat-stroked-button color="accent" routerLink="/lists/-1/add">Creat new list</button>
                    <button mat-stroked-button color="accent" routerLink="/lists">View all lists</button>
                    <button mat-stroked-button color="accent">View all items</button>
                </div>
        </section>
        </mat-toolbar>
    </mat-list-item>
  </mat-list>