<h1 style="color:purple;">Lists > {{todoList.capation}}</h1>

<div class="wrapper">
    <div class="icon">
        <mat-icon style="font-size: 160px;">{{todoList.imageUrl}}</mat-icon>
    </div>
    <div class="desc">
        <p>{{todoList.description}}</p>
    </div>
    <div class="nav">
        <mat-toolbar>
            <button mat-button [routerLink]="['/','lists',-1,'add']">NewList......</button>
            <button mat-button [routerLink]="['/','lists',todoList.id,'edit']">Edit......</button>
            <button mat-button color="warn" (click)="deleteTodoList(todoList.id)">Delete</button>
        </mat-toolbar>
    </div>
    <div class="items">
        <mat-grid-list cols="1">
            <ng-container *ngFor="let item of  todoListItems">
                <mat-grid-tile colspan=1>
                    <mat-checkbox [disabled]="item.isCompleted">
                        {{item.name}}
                    </mat-checkbox>
                </mat-grid-tile>
            </ng-container>
        </mat-grid-list>
    </div>
    
    <div class="addItem">
        <form *ngIf="todoItemForm" [formGroup]="todoItemForm" (ngSubmit)="save()">
                <input type="checkbox" formControlName="isCompleted">
                <input type="text" formControlName="name">
                <button [disabled]="todoItemForm.invalid">+</button>
        </form>
    </div>
</div>