body {
   margin: 40px;
 }
 
 .wrapper {
     display: grid;
     grid-gap: 10px;
     grid-template-columns: 200px 200px 200px 200px 100px;
     grid-template-rows: 50px 50px auto 100px;
     background-color: #fff;
     color: #444;
   }
 
 
   .icon {
     grid-column: 1 / span 1;
     grid-row: 1 /span 2;
   }
   .desc {
     grid-column: 2/span 4 ;
     grid-row: 1 / span 1;
   }
   .nav {
     grid-column: 2/span 2;
     grid-row: 2 / span 1 ;
   }
   .items {
     margin:100px;
     grid-column: 1/span 2;
     grid-row: 3/span 1;
/*     display: flex;
    justify-content: flex-start;
    align-items: center; */
   }

   .addItem{
    margin-left:100px;
    grid-column: 1/span 3;
    grid-row: 4/span 1;
   }
