<div class="title">
    <app-title></app-title>    
</div>
<mat-grid-list cols="7" rows="5" rowHeight="50px">
    <mat-grid-tile colspan=7></mat-grid-tile>
    <mat-grid-tile colspan=2></mat-grid-tile>
    <mat-grid-tile><mat-icon> format_list_bulleted</mat-icon></mat-grid-tile>
    <mat-grid-tile><mat-icon>done_outline</mat-icon></mat-grid-tile>
    <mat-grid-tile><mat-icon>hourglass_full</mat-icon></mat-grid-tile>
    <mat-grid-tile colspan=2></mat-grid-tile>
    <mat-grid-tile colspan=2></mat-grid-tile>
    <mat-grid-tile>{{counter$ | async}}</mat-grid-tile>
    <mat-grid-tile>{{counterItems$ | async}}</mat-grid-tile>
    <mat-grid-tile>{{counterActiveItems$ | async}}</mat-grid-tile>
    <mat-grid-tile colspan=2></mat-grid-tile>
    <mat-grid-tile colspan=2></mat-grid-tile>
    <mat-grid-tile>lists</mat-grid-tile>
    <mat-grid-tile>Todo Items</mat-grid-tile>
    <mat-grid-tile>Active Items</mat-grid-tile>
    <mat-grid-tile colspan=2></mat-grid-tile>
</mat-grid-list>