mat-toolbar{
    background-color: rgb(136, 186, 233);
}

button{
    font-size: 20px;
    color: black;
    background-color: rgb(136, 186, 233);
    border-style: none;
    padding: 5px;
}
.gap {
    margin-right: 10px;
 }
 .filler {
    flex: 1 1 1 auto;
 }